<%- include("partials/header.ejs") %>

<div class="container">
    <div class="column">
        <h2>Searching for: <%= query %></h2>
        <div class="anime-list">
           <%if (locals.data && locals.data.length) { %>
               <% data.forEach(anime => { %>
                <a class="anime-card" href="/anime/<%= anime.mal_id %>">
                <img src="<%= anime.images.jpg.image_url %>" alt="anime image">
                <p><%= anime.title %></p>
                </a>
               <% }); %> 
           <% } else { %>
                <p>No anime exists for "<%= data %>"</p>
           <% } %>

        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>