<%- include("partials/header.ejs") %>

<div class="container">
    <div class="details">
      <div class="title">
        <h1>Title: <%= anime.title %></h1>
        <p>Synopsis: <%= anime.synopsis %></p>
      </div>
  
      <div class="detail">
        <div class="image">
          <a href="/anime/<%= anime.mal_id %>"><img src="<%= anime.images.jpg.image_url %>"/></a>
        </div>
        <div class="anime-details">
          <p>Type: <%= anime.type %></p>
          <p>Episodes: <%= anime.episodes %></p>
          <p>Status: <%= anime.status %></p>
          <p>Aired: <%= anime.aired.string %></p>
          <p>Episode duration: <%= anime.duration %></p>
          <p>Score: <%= anime.score %></p>
          <p>Rank: <%= anime.rank %></p>
          <p>Popularity: <%= anime.popularity %></p>
        </div>
      </div>
    </div>
    <h3>Trailer:</h3>
    <div class="trailer">
      <iframe src="<%= anime.trailer.embed_url %>" allowfullscreen="true" height="300" width="600" ></iframe>
    </div>
</div>

<%- include("partials/footer.ejs") %>